@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, min-content));
    grid-template-rows: repeat(3, minmax(213px, min-content));
    gap: 16px;
    margin-top: 92px;
}

@media (max-width: 1024px) {
    .photo-grid {
        grid-template-columns: repeat(3, minmax(300px, min-content));
        grid-template-rows: repeat(4, minmax(225px, min-content));
        gap: 14px;
    }
}

@media (max-width: 768px) {
    .photo-grid {
        grid-template-columns: repeat(2, minmax(352px, min-content));
        grid-template-rows: repeat(6, minmax(264px, min-content));
        gap: 16px;
    }
}

@media (max-width: 320px) {
    .photo-grid {
        grid-template-columns: minmax(288px, min-content);
        grid-template-rows: repeat(12, minmax(216px, min-content));
        gap: 12px;
    }
}
