@import url(__lang-link/header__lang-link.css);
@import url(__logo/header__logo.css);

.header {
    min-height: 136px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*padding-right: 48px;*/
    margin-right: -100px;
}


@media (max-width: 1024px) {
    .header {
        min-height: 128px;
        margin-right: 0;
    }
}

@media (max-width: 768px) {
    .header {
        margin-right: 0;
    }
}

@media (max-width: 320px) {
    .header {
        min-height: 106px;
        /*padding-right: 18px;*/
        margin-right: 0;
    }
}

