.footer__link {
    padding-bottom: 24px;
    padding-right: 18px;
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

/*@media (max-width: 1024px) {*/
/*    .cover__background {*/
/*        width: 100vw;*/
/*    }*/
/*}*/
