.cover__background {
    background-image: url("../../../images/cover-trains.jpg");
    background-size: cover;
    width: 1184px;
    height: 740px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

}

@media (max-width: 1024px) {
    .cover__background {
        width: 100vw;
        height: 60vw;
    }
}
