@import url(./__image/place__image.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__paragraph/place__paragraph.css);

.place {
    display: grid;
    grid-template-columns: fit-content(460px) fit-content(484px);
    grid-template-rows: min-content fit-content(460px);
    gap: 48px 40px;
}

@media (max-width: 1080px) {
    .place {
        grid-template-columns: fit-content(440px) minmax(min-content, 456px);
        grid-template-rows: min-content fit-content(440px);
        gap: 48px 32px;
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media (max-width: 768px) {
    .place {
        gap: 48px 28px;
            margin-right: 24px;
            margin-left: 24px;
    }
}

@media (max-width: 625px) {
    .place {
        margin-top: 16px;
        gap: 32px;
        grid-template-columns: fit-content(90vw);
    }
}
