@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);


.footer {
    min-height: 134px;
    padding-left: 48px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    position: relative;

}

@media (max-width: 768px) {
    .footer {
        min-height: 130px;
        padding-left: 24px;

    }
}

@media (max-width: 636px) {
    .footer {
        flex-direction: column;
        padding-left: 16px;
        align-items: flex-start;
    }
}